.comment-tile-ellipsis-button-container {
    position: absolute;
    right: 10px;
    top: -5px;
}

.comment-tile-ellipsis-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    /* height: 10px; */
}

.comment-tile-buttons {
    position: absolute;
    left: 20px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 2px;
    padding: 2px 4px 4px;
    z-index: 2;
}


#comment-tile-delete, #comment-tile-edit {
    text-decoration: underline;
    font-size: 11px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
