.comments-container {
    display: flex;
    flex-direction: column;
}

.comment-tile-container {
    width: 85%;
    min-height: 50px;
    border: 0.5px solid gray;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    padding: 5px 5px;
    align-self: flex-end;
    overflow-wrap: break-word;
    position: relative;
}

.comment-edit-delete-buttons {
    float: right;
}

.comment-user-info {
    display: flex;
    gap: 2px;
}

.comment-profile-picture {
    margin-top: 1px;
    font-size: 0.9em;
}

#comment-username {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

#comment-body {
    margin-top: 5px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 2px;
}
