.comments-container {
    display: flex;
    flex-direction: column;
}

.comment-tile-container {
    width: 85%;
    min-height: 50px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 5px 10px;
    align-self: flex-end;
    overflow-wrap: break-word;
    position: relative;
}

.comment-edit-delete-buttons {
    float: right;
}
