/* BREWERY TILE */

.brewery-tile {
    display: grid;
    grid-template-columns: 130px 1fr;
    width: 100%;
    min-height: 130px;
    background-color: #E09712;
    border: 1px solid gray;
    border-radius: 5px;
    gap: 5px;
    margin-bottom: 10px;
}


.brewery-tile-image {
    height: 130px;
    width: 130px;
    border-radius: 2px;
}

#brewery-tile-name {
    font-size: 20px;
    font-weight: bold;
}

.brewery-tile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
}

#brewery-buttons-container {
    min-height: 30px;
    width: fit-content;
    align-self: flex-end;
}

#brewery-tile-delete {
    text-decoration: underline;
    font-size: 11px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#brewery-tile-edit {
    text-decoration: underline;
    font-size: 11px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* BREWERY DETAILS */
#brewery-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#brewery-header {
    display: flex;
    width: 95%;
    height: 300px;
    gap: 10px;
}

#brewery-header>img {
    height: 300px;
    width: 300px;
}

#brewery-header>div>h1 {
    font-size: 60px;
}

#brewery-website, #brewery-website:visited {
    color: blue;
}

#brewery-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    height: 400px;
    justify-content: space-between;
    margin-top: 20px;
}

#brewery-content {
    height: 400px;
}

#brewery-show-buttons-container {
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 70px;
}

.brewery-show-button {
    color: white;
    cursor: pointer;
    position: relative;
    top: 10px;
    padding: 15px 8px;

}

#brewery-show-beers-button {
    background-color: #E0AE11;
}

#brewery-show-check-ins-button {
    background-color: #525151;
}

#brewery-about {
    width: 90%;
    height: 400px;
    /* border: 1px solid blue; */
    overflow: scroll;
    margin-top: 30px;
}

#no-check-in-placeholder {

}
