/* SIGN UP */

#sign-up-form-container {
    width: 375px;
    padding: 10px 30px;
}

.sign-up-label {
    font-size: 13px;
    position: relative;
    top: 4px;
}

.log-in-label {
    font-size: 13px;
    position: relative;
    top: 4px;
}


#sign-up-heading {
    margin: 0 auto;
    width: fit-content;
}

#sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-user-button {
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(17, 95, 95);
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
}

/* LOG IN */

#login-form-container {
    width: 375px;
    padding: 10px 30px;
}

#signup-login-heading {
    margin: 0 auto;
    margin-top: 10px;
    width: fit-content;
}


/* CHECK IN */
#check-in-form-container {
    width: 400px;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#check-in-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#check-in-form-heading {
    margin-top: 0;
}

#check-in-body-input {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding: 3px;
    resize: none;
}

#body-char-count {
    font-size: 12px;
    align-self: flex-end;
}

#image-rating-container {
    display: flex;
    align-items: center;
    gap: 15px;
    align-self: flex-start;
}

#rating-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#rating-label {
    text-align: center;
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 0 5px;

}

.rating-list li i {
    font-size: 20px;
    padding: 0;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: gold;
}

.rating-list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* position: relative;
    bottom: 40px; */
}

#stars-word-list-item {
    color: black;
    font-size: 17px;
    padding: 0;
}

.filled {
    color: gold;
}

#image-input-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 65px;
    min-width: 65px;
    width: fit-content;
    padding: 0;
    margin: 0;
}

#check-in-image-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin: 0;
}

#image-error-container {
    min-height: 20px;
    position: relative;
    bottom: 20px;
}

#check-in-add-photo, #check-in-preview-image {
    width: 65px;
    height: 65px;
}

/* DELETE MODALS */
#delete-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;
    padding: 10px 30px 30px 30px;
    gap: 12px;
}

#confirm-delete-heading {
    margin-bottom: 0;
}

#confirm-delete-phrase {
    text-align: center;
}

#confirm-delete-buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#yes-button {
    padding: 8px;
    background-color: #E05512;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#no-button {
    padding: 8px;
    background-color: #525151;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/* CREATE COMMENT */

#create-comment-modal-container {
    width: 400px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#comment-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment-body-input {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    resize: none;
}

#error-count-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* User/Profile Settings */
#user-settings-container {
    width: 400px;
    height: 85vh;
    max-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    overflow-y: auto;
}

#user-settings-container > h2 {
    margin: 20px auto;
}

#user-settings-form {
    font-size: 12px;
}

.profile-label {
    display: flex;

}

#profile-image-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    margin: 0;
}

#profile-add-photo, #profile-preview-image {
    width: 60px;
    height: 60px;
}

#profile-picture-field {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    gap: 53px;
    align-items: center;
}

#user-settings-name-container {
    display: grid;
    width: 100%;
    grid-template-columns: 45% 10% 45%;
}
