/* GENERAL */

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    width:100%;
    padding: 4px;
}

.field-container {
    width: 100%;
}

.form-label-container {
    display: flex;
    width: 100%;
    gap: 12px;
}

.error-message {
    color: red;
    font-size: 9px;
    text-align: center;
}

.error-container {
    min-height: 20px;
    text-align: center;
}

.submit-button {
    min-width: 100px;
    max-width: 40%;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #E05512;
    color: white;
    margin-top: 5px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #525151;
}

#image-input {
    width: fit-content;
    margin-top: 10px;
}

.hidden-image-title {
    color: rgba(0, 0, 0, 0);
}

#orig-url {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.7px;
    position: relative;
    right: 160px;
}

#description {
    resize: none;
}

#description-char-count {
    float: right;
    font-size: 12px;
}

/* BREWERIES */

#brewery-form-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.brewery-form {
    margin: 0 auto;
}



/* BEERS */

#beer-form-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.beer-form {
    margin: 0 auto;
}
