/* GENERAL */

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    width:100%;
    padding: 4px;
    font-size: 15px;
    font-family: Arvo, Arial, Helvetica, sans-serif;
    margin-top: 3px;
}

.field-container {
    width: 100%;
}


.select-input {
    position: relative;
    right: 4px;
    width: 101%;
    font-size: 15px;
}

.form-label-container {
    display: flex;
    width: 100%;
    gap: 12px;
}

.error-message {
    color: red;
    font-size: 9px;
    text-align: center;
}

.error-container {
    min-height: 20px;
    text-align: center;
}

.submit-button {
    min-width: 100px;
    max-width: 40%;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #E05512;
    color: white;
    margin-top: 5px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px #525151;
}

#image-input {
    width: fit-content;
    margin-top: 10px;
}

.hidden-image-title {
    color: rgba(0, 0, 0, 0);
}

#orig-url {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.7px;
    position: relative;
    right: 160px;
}

#description {
    resize: none;
}

#description-char-count {
    float: right;
    font-size: 12px;
}

.css-hlgwow {
    padding: 2px 12px;
}

/* BREWERIES */

#brewery-form-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
}

.brewery-form {
    margin: 0 auto;
    animation: fadeIn 0.4s;
}

/* BEERS */

#beer-form-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    animation: fadeIn 0.4s;
}

.beer-form {
    margin: 0 auto;
}


@media (max-width: 800px) {
    #brewery-form-container, #beer-form-container {
        width: 70%;
    }
}

@media (max-width: 700px) {
    #brewery-form-container, #beer-form-container {
        width: 75%;
    }
}

@media (max-width: 600px) {
    #brewery-form-container, #beer-form-container {
        width: 80%;
    }
}

@media (max-width: 500px) {
    #brewery-form-container, #beer-form-container {
        width: 85%;
        margin-bottom: 40px;
    }
}

@media (max-width: 400px) {
    #brewery-form-container, #beer-form-container {
        width: 90%;
    }
}
