

.outer-check-in-tile {
    margin-bottom: 15px;
    max-width: 100%;
}

.check-in-tile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 130px; */
    /* max-height: 400px; */
    overflow-y: hidden;
    padding: 10px;
    border: 0.5px solid gray;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    position: relative;
}

.check-in-top-container {
    display: flex;
    gap: 5px;
}

.check-in-profile-picture {
    font-size: 24px;
    width: 35px;
    height: 35px;
    /* margin-top: 5px; */
}

#check-in-default-profile-pic {
    font-size: 35px;
    margin-top: 7px;
}

.check-in-custom-profile-pic {
    border-radius: 50%;
    overflow: hidden;
    height: 35px;
    width: 35px;
    margin-top: 2px;

}

#check-in-username {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}


#check-in-username:hover {
    text-decoration: underline;
    font-weight: bolder;
}

#check-in-user-rating {
    display: flex;
    gap: 5px;
    padding-right: 25px;
}

#check-in-mug {
    color: rgb(237, 210, 55);
}

#check-in-headline {
    font-size: 13px;
    margin-top: 2px;
}

.check-in-headline-navlink, .check-in-headline-navlink:visited {
    color: #E09712;
    text-decoration: none;
}

.check-in-headline-navlink:hover {
    color: #E0AE11;
    text-decoration: underline;
}

#check-in-body {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
}

.check-in-image {
    /* max-width: 125px;
    max-height: 150px; */
    max-width: 60%;
    max-height: 470px;
    /* border-radius: 2px; */
}

.check-in-buttons {
    display: flex;
    min-height: 20px;
    align-self: flex-end;
}


/* COMMENTS */

#add-comment-button, #show-comments-button {
    /* text-decoration: underline; */
    color: #525151;
    font-size: 12px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 8px;
}
