/*NAV BAR*/

nav {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  top: 0;
  background-color: #525151;
}

#nav-bar-left-content {
  display: flex;
  gap: 20px;
}

#logo {
  cursor: pointer;
  margin-left: 20px;
}

#nav-links-div {
  position: absolute;
  left: 220px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-link,
.nav-link:visited {
  color: #E09712;
  text-decoration: none;
}

.nav-link:hover {
  color: #E0AE11;
}

#options-button-container {
  display: none;
}

#options-button {
  font-size: 25px;
  margin-left: 20px;
  background-color: #525151;
  color: white;
  width: fit-content;
  cursor: pointer;
  border: none;
}

#options-menu {
  position: absolute;
  left: 20px;
  width: 110px;
  min-width: fit-content;
  margin-top: 2px;
  padding: 5px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow: hidden;
}

.options-menu-option {
  width: fit-content;
  cursor: pointer;
  margin: 0 auto;
}

.options-menu-option:hover {
  font-weight: 600;
}



/* DROP DOWN */

.profile-dropdown {
  position: absolute;
}

#profile-button {
  display: flex;
  align-items: center;
  margin-right: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 3px;
}

#profile-icon {
  font-size: 30px;
  color: rgb(87, 192, 224);
}

#menu-bars {
  margin-right: 10px;
}


#dropdown-menu {
  position: absolute;
  right: 32px;
  width: 170px;
  min-width: fit-content;
  margin-top: 2px;
  padding: 5px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  overflow: hidden;
}

.separator {
  border-top: 1px solid gray;
  width: 100%;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-menu-item>p,
.signup-menu-item>p {
  margin: 7px;
}

.login-menu-item:hover,
.signup-menu-item:hover {
  cursor: pointer;
  font-weight: 500;
}

.hidden {
  display: none;
}

#logout-button {
  width: 60%;
  border: 1px solid black;
  border-radius: 40px;
  font-size: 14px;
  margin-left: 33px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5f5e5e;
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 1px black;
}

#greeting {
  width: fit-content;
  margin: 0 auto;

}

.user-menu-option {
  width: fit-content;
  cursor: pointer;
  margin: 0 auto;
}

.user-menu-option:hover {
  font-weight: 600;
}

#nav-bar-login-signup-buttons {
  display: flex;
  gap: 20px;
  margin-right: 60px;
}

#nav-bar-login-button {
  font-size: 14px;
  color: #E09712;
  background-color: transparent;
  border: none;
  font-family: 'Arvo', 'serif';
  cursor: pointer;
}

#nav-bar-login-button:hover {
  color: #E0AE11;
}

#nav-bar-signup-button {
  font-size: 14px;
  color: #E09712;
  background-color: transparent;
  border: none;
  font-family: 'Arvo', 'serif';
  cursor: pointer;
}

#nav-bar-signup-button:hover {
  color: #E0AE11;
}

/* NAV BAR MEDIA QUERIES */

@media (max-width: 900px) {
  #nav-links-div {
    display: none;
  }

  #options-button-container {
    display: block;
  }

  /* #logo {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
  } */

  #nav-bar-login-signup-buttons {
    margin-right: 10px;
    gap: 15px;
  }

}
